<div class="container-fluid">
    <div class="row">
        <div class="col-12 btn-group-vertical" role="group" id="notetitles">
            {{#each notelist}}
            <a href="/notes/view?key={{key}}" class="btn btn-lg btn-block btn-outline-dark">
                {{title}}
            </a>
            {{/each}}
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io("/home");
    console.log(socket);
    socket.on("connect", () => {
        console.log("socketio connection on /home");
    });
    socket.on("notetitles", (arg) => {
        const notelist = arg.notelist;
        const notetitlesElement = document.querySelector("#notetitles");
        notetitlesElement.innerHTML = "";
        notelist.forEach((notetitle) => {
            console.log(`Adding Note Title ${JSON.stringify(notetitle, null, 2)}`);
            const noteElement = document.createElement("a");
            noteElement.className = "btn btn-lg btn-block btn-outline-dark";
            noteElement.href = `/notes/view?key=${notetitle.key}`;
            noteElement.textContent = notetitle.title;
            notetitlesElement.append(noteElement);
        });
    });
</script>

{{!-- <ul>
    {{#each notelist}}
    <li>
        {{key}}:
        <a href="/notes/view?key={{key}}">
            {{title}}
        </a>
    </li>
    {{/each}}
</ul> --}}